.leaflet-container {
    height: 400px;
    width: 100%;
}
body {
  padding: 2em;
}
form {
  margin: 1em 0;
}
input[type=search] {
  width: 60%;
  padding: 3px;
  font-size: 1.5em;
  margin-right: 10px;
}
input[type=submit] {
  padding: 3px;
  font-size: 1.5em;
}

.species img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.species {
  margin-top: 1em;
  clear: both;
}

h2 {
  clear: both;
  border-bottom: 1px solid #ccc;
}
