/* Reset and Page Setup */

/* Reset from http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
  font-family: Avenir, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

/* General */
body {
	background-color: #2D2663;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	font-family: Calibri, "Helvetica Neue", sans-serif;
	font-size: 1em;
	line-height: 1.125; /* Baseline grid of 18px */
}
div,
section,
article {
	display: block;
	box-sizing: border-box;
}
a:link,
a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}
a:hover,
a:focus,
a:active  {
	color: #FFFFFF;
	text-decoration: underline;
}

a img {
	border: 0;
	vertical-align: bottom;
}



/* Page structure */
section {
}
.inner {
	width: 70%;
	margin: 0 auto;
	padding: 1px;
}

.primary {
	background-color: #2D2663;
	color: #FFFFFF;
}
.primary a:link,
.primary a:visited {
	color: #FFFFFF;
	color: rgba(255, 255, 255, 0.8)
}
.primary a:hover,
.primary a:focus,
.primary a:active  {
	color: #FFFFFF;
	color: rgba(255, 255, 255, 1)
}

.secondary {
	background-color: #EBC27A;
	color: #3A290A
}
.secondary a:link,
.secondary a:visited {
	color: #3A290A;
	color: rgba(59, 41, 10, 0.8)
}
.secondary a:hover,
.secondary a:focus,
.secondary a:active  {
	color: #3A290A;
	color: rgba(59, 41, 10, 1)
}


.tertiary {
		background-color: #B04C5E;
		color: #FFFFFF;
}
.tertiary a:link,
.tertiary a:visited {
	color: #FFFFFF;
	color: rgba(255, 255, 255, 0.8)
}
.tertiary a:hover,
.tertiary a:focus,
.tertiary a:active  {
	color: #FFFFFF;
	color: rgba(255, 255, 255, 1)
}

.footer .inner {
	padding-top: 2em;
	padding-bottom: 2em;
}
.footer .meta {
	color: rgba(255,255,255,0.3);
	text-align: center;
	font-size: 0.8em;
	margin: 0
}
.footer .meta a:link,
.footer .meta a:visited {
	color: #FFFFFF;
	color: rgba(255, 255, 255, 0.5)
}
.footer .meta a:hover,
.footer .meta a:focus,
.footer .meta a:active  {
	color: #FFFFFF;
	color: rgba(255, 255, 255, 0.8)
}

@media (max-width: 850px) {
	.inner {
		width: 80%;
	}
}
@media (max-width: 650px) {
	.inner {
		width: 100%;
		padding-left: 1em;
		padding-right: 1em;
	}
}




/* Page components */
.map {
		background-color: #B04C5E;
		color: #FFFFFF;
}
.map a:link,
.map a:visited {
	color: #000000;
	color: rgba(0, 0, 0, 0.8)
}
.map a:hover,
.map a:focus,
.map a:active  {
	color: #000000;
	color: rgba(0, 0, 0, 1)
}
#map {
	height: 45vw;
	display: block;
}
.leaflet-container {
  height: 400px;
  width: 100%;
}

h1 {
	margin-top: 100px;
	font-size: 3em;
	margin-bottom: 12px;
}


form {
	margin: 0;
	padding: 0;
}

input {
	font-size: 1.5em;
	padding: 0.3em 0.5em;
	margin-top: 5px;
}

input.text {
	border: 2px solid #BECED6;
	margin-right: 7px;
	width: 70%;
}

input.submit {
	background-repeat: repeat-x;
	background-position: bottom left;
	background-color: #C6DDAB;
	border: 2px solid #AECA8B;
	font-weight: bold;
	padding: 0.25em 0.5em;
	cursor: pointer;
}

input.submit:active {
	background-position: top left;
}

.meta {
	font-size: 0.8em;
	margin: 0.4em 0 2em 0;
}

.species-list {
	padding-bottom: 2em;
	overflow: hidden;
	width: 100%
}
.species-list .species {
	width: 400px;
	float: left;
	margin-left: 2vw;
	background: yellow;
}
.species-list .species:first-child {
	margin-left: 0;
}

.observation {
	border: 1px solid white;
}
.observation {
	overflow: hidden;
	padding-left: 9vw;
	margin-bottom: 3vw;
}
.observation .img {
	float: left;
	margin-left: -9vw;
	height: 8vw;
	width: 8vw;
	padding: 0.2vw;
	box-sizing: border-box;
	background-color: white;
}
.observation .img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.observation .title {
	margin: 0 0 0.3em 0;
	font-size: 1.8em;
}
